.contact {
  padding: 20px;
  transform: translateY(45px);
}
.container {
  padding: 20px;
  background-color: '#F8F6F7';
}
.input {
  width: '100%';
  margin-bottom: 10px;
}
.input div {
  background-color: white;
}
.button {
  background-color: '#FB9475';
  color: 'white';
  border-radius: 50%;
}